.fuel {
	@extend %flexRow;
	flex-grow: 0;
	width: 36px;

	overflow: hidden;
	background-color: var(--game-fuel-bgcolor);
	border: 2px solid var(--game-fuel-borderColor);
	border-radius: var(--game-form-borderRadius);

	.fuelActive {
		display: flex;
		justify-content: center;

		transform: translate(0px, 0px);
		background-image: linear-gradient(red, yellow, green);
		width: 36px;
	}

	.percentage {
		display: flex;
		align-self: center;
		text-align: center;

		font-size: 22px;
		font-weight: bold;
		margin-top: 0;
		transform: rotate(-90deg);
	}

}