.fuel {

	/* TODO BEHAVIOR MODIFY SPEED WAVE WHEN MOVE AND NOT HOUSE OVER
	ANIMATION RANDOM NUMBER WHEN MOVE AND NOT HOUSE OVER 
	**/ 
	
	@extend %flexRow;
	flex-grow: 0;
	width: 36px;

	overflow: hidden;
	background-color: var(--game-fuel-bgcolor);
	border: 2px solid var(--game-fuel-borderColor);
	border-radius: var(--game-form-borderRadius);

	&:hover {
		.fuelActive {
			transform: translate(0px, 1280px);
		}

		.fuelActive::before {
			animation: waveAnimation 1s linear infinite;
		}
	}

	.fuelActive {
		display: flex;
		justify-content: center;

		width: 36px;
		transform: translate(0px, 550px);
		background-image: linear-gradient(red, yellow, green);
		transition: transform 2s ease-in;

		&:before {
			content: '';
			width: 200%;
			position: absolute;
			top: 0;
			left: 50%;
			height: 40px;
			transform: translate(-50%, -75%);
			background: #000;
			animation: waveAnimation 5s linear infinite;

			border-radius: 45%;

		}





		@keyframes waveAnimation {
			0% {
				transform: translate(-50%, -75%) rotate(0deg);
			}

			100% {
				transform: translate(-50%, -75%) rotate(360deg);
			}
		}

	}

	.percentage {
		display: flex;
		align-self: center;
		text-align: center;

		margin-bottom: 600px;
		font-size: 22px;
		font-weight: bold;
		margin-top: 0;
		transform: rotate(-90deg);
	}

}