
// Specific Rules depend if mobile 
@media only screen and (max-width: 700px) {
	#game {

		padding-left: 15px;
		padding-right: 15px;



		.interaction .groupAction {

			.action {
				.title-action {
					font-size: 13px;
				}

				.list-cards .card {
					margin-left: 2.5%;
					margin-right: 2.5%;

					.title {
						font-weight: normal;
						font-size: 13.5px;
					}


				}
			}

			.vehicules {
				.title-vehicule {
					font-size: 13px;


				}

				.vehicule {
					justify-content: space-around;

					.arrow {
						display: none;
					}
				}
			}

			.houses {

				.title-houses {
					display: none;
				}

				.group-btn {
					button {
						font-size: 15px;
						margin-right: 10px;
						margin-left: 10px;

						&:first-child {
							margin-left: 10px;
						}

						&:last-child {
							margin-right: 10px;
						}
					}
				}
			}

		}

	}
}