/** IMPORT GLOBAL CSS FOR FONTS HTML,* SELECTOR **/
@use "../global.scss";

/** IMPORT VARIABLES used only for this game **/
@use "_variables.scss";

/** IMPORT PLACEHOLDER used only for this game **/
@use "_placeholder.scss";

/** SCSS Used inside #game */
@use "./header/header.scss";

/** SCSS used inside groupAction Folder **/
@use "./groupAction/groupAction.scss";

/** SCSS used inside Fuel Folder **/
@use "./fuel/fuel.scss";


/* @import "_responsive.scss" 
*/
// GAME RESPONSIVES STYLES are dropped for now instead we use  <meta name="viewport" content="width=device-width, initial-scale=0.5"> */





#game {
	@extend %flexColumn;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-left: 60px;
	padding-right: 60px;

	transition: all 0.25s ease;


	@media (min-width: 1400px) {
		padding-left: 15%;
		padding-right: 15%;
	}

	@media (min-width: 2000px) {
		padding-left: 20%;
		padding-right: 20%;
	}




	.interaction {
		@extend %flexRow;
		justify-content: space-between;
		margin-top: 25px;
	}


}