%flexRow {
	display: flex;
	flex-direction: row;
}

%flexColumn {
	display: flex;
	flex-direction: column;
}


#game {
	@extend %flexColumn;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 50px;


	.player {
		@extend %flexRow;
		justify-content: space-between;

		.discord {
			@extend %flexRow;
			flex-grow: 2;
			margin-right: 40px;
			height: 80px;


			border-radius: var(--game-form-borderRadius);
			border: 2px solid var(--game-discord-borderColor);
			background-color: var(--game-discord-bgColor);

			h1 {
				font-size: 30px;
				flex: 1;
				text-align: center;
				align-self: center;
				color: var(--game-discord-h1Color);
			}

		}

		.notification {
			@extend %flexRow;
			flex-grow: 0;
			justify-content: space-around;
			min-width: 110px;

			background-color: var(--game-notification-bgColor);
			border-radius: var(--game-form-borderRadius);
			box-shadow: var(--game-notification-bgShadow, 0 1px 4px rgba(0, 0, 0, .6));

			button {
				align-self: center;
				min-height: 40px;
			}
		}



	}


	.interaction {
		@extend %flexRow;
		justify-content: space-between;
		margin-top: 25px;

		.groupAction {
			@extend %flexColumn;

			flex-grow: 2;
			margin-right: 25px;

			%cssFormShared {
				border-radius: var(--game-form-borderRadius);
				background-color: var(--game-groupAction-bgColor);
				margin-bottom: 25px;
				border: 2px solid var(--game-groupAction-borderColor);
				box-shadow: var(--game-groupAction-boxShadow), 0 0 0 rgba(0, 0, 0, .6);

			}

			%titleShared {
				height: 70px;
				border-radius: var(--game-groupeAction-titleBorderRadius);
				background-color: var(--game-groupeAction-titleBgColor);
			}

			.action {
				@extend %flexColumn;
				@extend %cssFormShared;

				min-height: 500px;



				.title-action {
					@extend %flexRow;
					@extend %titleShared;
					align-self: center;
					width: 50%;

					h2 {
						color: var(--game-groupeAction-h2Color);
						flex: 1;
						text-align: center;
						align-self: center;
					}
				}


				.list-cards {
					@extend %flexRow;
					justify-content: center;
					margin-top: 50px;

					.card {
						width: 33.3%;
						margin-left: 5%;
						margin-right: 5%;

						.mainContent {
							border-radius: 15px 15px 0 0;
							background: white;
							text-align: center;
							padding-top: 20px;
							padding-bottom: 20px;

							img {
								text-align: center;
								width: 30%
							}
						}

						.title {
							font-weight: bold;
							background-color: lightgrey;
							padding-top: 15px;
							padding-bottom: 15px;
							text-align: center;
							border-radius: 0 0 15px 15px;
						}

					}
				}



			}


			.cars {
				@extend %cssFormShared;
				min-height: 500px;

				.header {
					@extend %flexRow;

					div {
						min-width: 33.3%;
					}

					.title-cars {

						@extend %flexRow;
						@extend %titleShared;
						width: 35%;


						h2 {
							color: var(--game-groupeAction-h2Color);
							flex: 1;
							text-align: center;
							align-self: center;
						}
					}
				}
			}


			.list-slides {
				@extend %flexRow;
				flex-grow: 1;
				align-items: center;
				justify-content: center;
				margin-top: 30px;
				margin-bottom: 15px;

				.slide {
					margin-left: 20px;
					margin-right: 20px;
					width: 15px;
					height: 15px;
					background-color: white;

					border-radius: 100%;


				}

				.active {
					width: 18px;
					height: 18px;
					border: 2px solid white;
					background-color: black;
				}
			}

			.houses {
				@extend %flexRow;
				@extend %cssFormShared;
				border: 2px solid var(--game-groupAction-borderColor);
				height: 50px;
				min-height: 100px;

				.title-houses {
					@extend %flexRow;
					height: 100%;
					flex-grow: 1;

					border-radius: var(--game-house-titleBorderRadius);
					background-color: var(--game-groupeAction-titleBgColor);

					h2 {
						color: var(--game-groupeAction-h2Color);
						flex: 1;
						text-align: center;
						align-self: center;
					}
				}

				.group-btn {
					display: flex;
					flex-grow: 2;
					justify-content: space-around;


					button {
						flex: 1;
						text-align: center;
						align-self: center;
						margin-left: 15px;
						margin-right: 15px;
						height: 50%;
						font-size: 18px;

						background-color: var(--game-house-btnBgColor);
						color: var(--game-house-btnColor);
						border-radius: var(--game-house-btnBorderRadius);
						border-radius: var(--game-house-btnBorderRadius);

						cursor: pointer;
						transition: all 0.25s ease-in;

						&:first-child {
							margin-left: 30px;
						}

						&:last-child {
							margin-right: 30px;
						}

						&:hover {
							filter: brightness(85%);
						}
					}

				}
			}
		}

		.fuel {
			@extend %flexRow;
			flex-grow: 0;
			width: 40px;
			height: 1150px;
			overflow: hidden;
			background-color: var(--game-fuel-bgcolor);
			border: 1px solid var(--game-fuel-borderColor);
			border-radius: var(--game-form-borderRadius);

			.fuelActive {
				transform: translate(0px, 500px);
				height: 1150px;
				background: rgb(176, 206, 5);
				width: 40px;
			}
		}
	}


}