%flexRow {
	display: flex;
	flex-direction: row;
}

%flexColumn {
	display: flex;
	flex-direction: column;
}



#game {
	@extend %flexColumn;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-left: 60px;
	padding-right: 60px;



	.player {
		@extend %flexRow;
		justify-content: space-between;

		.discord {
			@extend %flexRow;
			flex-grow: 2;
			margin-right: 40px;
			height: 80px;


			border-radius: var(--game-form-borderRadius);
			border: 2px solid var(--game-discord-borderColor);
			background-color: var(--game-discord-bgColor);

			h1 {
				font-size: 30px;
				flex: 1;
				text-align: center;
				align-self: center;
				color: var(--game-discord-h1Color);
			}

		}

		.notification {
			@extend %flexRow;
			flex-grow: 0;
			justify-content: space-around;
			min-width: 110px;

			background-color: var(--game-notification-bgColor);
			border-radius: var(--game-form-borderRadius);
			box-shadow: var(--game-notification-bgShadow, 0 1px 4px rgba(0, 0, 0, .6));

			button {
				align-self: center;
				min-height: 40px;
			}
		}



	}


	.interaction {
		@extend %flexRow;
		justify-content: space-between;
		margin-top: 25px;

		.groupAction {
			@extend %flexColumn;

			flex-grow: 2;
			margin-right: 25px;

			%cssFormShared {
				border-radius: var(--game-form-borderRadius);
				background-color: var(--game-groupAction-bgColor);

				border: 3px solid var(--game-groupAction-borderColor);
				box-shadow: var(--game-groupAction-boxShadow), 0 0 0 rgba(0, 0, 0, .6);

			}

			%titleShared {
				height: 70px;
				border-radius: var(--game-groupAction-titleBorderRadius);
				background-color: var(--game-groupAction-titleBgColor);
			}

			.action {
				@extend %flexColumn;
				@extend %cssFormShared;
				margin-bottom: 25px;
				min-height: 500px;



				.title-action {
					@extend %flexRow;
					@extend %titleShared;
					align-self: center;
					margin-top: -3px;
					width: 50%;

					h2 {
						padding: 5px;
						color: var(--game-groupAction-titleColor);
						flex: 1;
						text-align: center;
						align-self: center;
					}
				}


				.list-cards {
					@extend %flexRow;
					justify-content: center;
					margin-top: 50px;

					.card {
						max-width: 250px;
						flex: 1;
						margin-left: 5%;
						margin-right: 5%;

						.mainContent {
							border-radius: 15px 15px 0 0;
							background: var(--game-card-mainContent-BgColor);
							text-align: center;
							padding-top: 20px;
							padding-bottom: 20px;

							img {
								text-align: center;
								width: 30%
							}
						}

						.title {
							font-weight: bold;
							color: var(--game-card-title-Color);
							background-color: var(--game-card-title-BgColor);
							padding-top: 15px;
							padding-bottom: 15px;
							text-align: center;
							border-radius: 0 0 15px 15px;
						}

					}
				}



			}


			.vehicules {
				@extend %cssFormShared;
				margin-bottom: 25px;
				max-height: 50%;


				.vehicule {
					@extend %flexRow;

					.arrow {
						cursor: pointer;
						color: var(--game-vehicule-arrowColor);
						font-size: 60px;
						text-decoration: none;
						flex: 1;
						text-align: center;
						align-self: center;
						transition: color 0.25s ease-in;

						&:hover {
							color: var(--game-vehicule-arrowHoverColor);
						}
					}

					.vehiculeImg {
						max-height: 90%;
						max-width: 80%;
						flex: 2;
					}
				}

				.header {
					@extend %flexRow;

					div {
						flex: 1;
					}

					.group-menu {
						@extend %flexRow;
						margin-left: 10px;

						z-index: 2;

						.menu {
							display: flex;
							cursor: pointer;
							weight: 20px;
							height: 20px;
							margin-right: 10px;

							div {
								@extend %flexColumn;
								justify-content: center;
								transform: scaleY(0.25);
							}

							p {

								flex: 1;
								align-self: center;
								text-align: center;
								display: none;
								transform: rotate(-90deg);
							}

							&:hover {
								background-color: white;
								transform: scaleY(5);
								transform-origin: top;
								transition: transform 0.25s ease-in;

								p {
									display: inline-flex;

								}


							}
						}

						.choc {
							background-color: yellow;
						}

						.teinte {
							background-color: blue;
						}

						.aileron {
							background-color: red;
						}

						.jantes {
							background-color: limegreen;
						}
					}

					.title-vehicule {
						@extend %flexRow;
						@extend %titleShared;
						margin-top: -3px;

						h2 {
							padding: 5px;
							color: var(--game-groupAction-titleColor);
							flex: 1;
							text-align: center;
							align-self: center;
						}
					}
				}




			}


			.list-slides {
				@extend %flexRow;
				flex-grow: 1;
				align-items: center;
				justify-content: center;
				margin-top: 30px;
				margin-bottom: 15px;

				.slide {
					cursor: pointer;
					margin-left: 20px;
					margin-right: 20px;
					width: 15px;
					height: 15px;
					background-color: var(--game-groupAction-slideColor);

					border-radius: 100%;


				}

				.active {
					width: 18px;
					height: 18px;
					border: 2px solid var(--game-groupAction-slideColor);
					background-color: var(--game-groupAction-slideActiveColor);
				}
			}

			.houses {
				@extend %flexRow;
				@extend %cssFormShared;
				border: 2px solid var(--game-groupAction-borderColor);
				height: 50px;
				min-height: 100px;

				.title-houses {
					@extend %flexRow;
					height: 100%;
					flex-grow: 1;

					border-radius: var(--game-house-titleBorderRadius);
					background-color: var(--game-groupAction-titleBgColor);

					h2 {
						color: var(--game-groupAction-h2Color);
						flex: 1;
						text-align: center;
						align-self: center;


					}
				}

				.group-btn {
					display: flex;
					flex-grow: 2;
					justify-content: space-around;


					button {
						flex: 1;
						text-align: center;
						align-self: center;
						margin-left: 15px;
						margin-right: 15px;
						height: 50%;
						font-size: 18px;

						background-color: var(--game-house-btnBgColor);
						color: var(--game-house-btnColor);
						border-radius: var(--game-house-btnBorderRadius);
						border-radius: var(--game-house-btnBorderRadius);

						cursor: pointer;
						transition: all 0.25s ease-in;

						&:first-child {
							margin-left: 30px;
						}

						&:last-child {
							margin-right: 30px;
						}

						&:hover {
							filter: brightness(85%);
						}
					}

				}
			}
		}

		.fuel {
			@extend %flexRow;
			flex-grow: 0;
			width: 40px;

			overflow: hidden;
			background-color: var(--game-fuel-bgcolor);
			border: 2px solid var(--game-fuel-borderColor);
			border-radius: var(--game-form-borderRadius);

			.fuelActive {
				transform: translate(0px, 500px);

				background: rgb(176, 206, 5);
				width: 40px;
			}
		}
	}


}



// Specific Rules depend if mobile 
@media only screen and (max-width: 700px) {
	#game {

		padding-left: 15px;
		padding-right: 15px;



		.interaction .groupAction {

			.action {
				.title-action {
					font-size: 13px;
				}

				.list-cards .card {
					margin-left: 2.5%;
					margin-right: 2.5%;

					.title {
						font-weight: normal;
						font-size: 13.5px;
					}


				}
			}

			.vehicules {
				.title-vehicule {
					font-size: 13px;


				}

				.vehicule {
					justify-content: space-around;

					.arrow {
						display: none;
					}
				}
			}

			.houses {

				.title-houses {
					display: none;
				}

				.group-btn {
					button {
						font-size: 15px;
						margin-right: 10px;
						margin-left: 10px;

						&:first-child {
							margin-left: 10px;
						}

						&:last-child {
							margin-right: 10px;
						}
					}
				}
			}

		}

	}
}