:root {
	// Global Variable
	--game-form-borderRadius: 5px;



	// PLAYER AREA // 
	// Used by the Discord Area
	--game-discord-borderColor: black;
	--game-discord-bgColor: #575EDC;
	--game-discord-h1Color: white;


	// Used by Notification inside Player Area 
	--game-notification-bgShadow: 0 5.00px 17px 4px rgba(20, 20, 20, 0.47);
	--game-notification-bgColor: White;
	// END PLAYER AREA // 



	// GROUPACTION AREA // 
	--game-groupAction-bgColor: #2A2A2A;
	--game-groupAction-borderColor: #575EDC;
	--game-groupAction-boxShadow: 0 5.00px 17px 4px rgba(20, 20, 20, 0.47);
	--game-groupAction-titleBgColor: white;
	--game-groupAction-titleBorderRadius: 0 0 60px 60px;
	--game-groupAction-titleColor: black;
	--game-groupAction-slideColor: white; 
	--game-groupAction-slideActiveColor: black; 
	// END GROUPACTION AREA // 



	//  ACTION AREA // 
	--game-card-mainContent-BgColor: white;
	--game-card-title-BgColor: lightgrey;
	--game-card-title-Color: black;
	// END ACTION AREA // 



	// VEHICULES AREA // 
	--game-vehicule-arrowColor: white; 
	--game-vehicule-arrowHoverColor: grey; 
	// END VEHICULES AREA//



	// HOUSES AREA // 
	--game-house-titleBorderRadius: 0 60px 60px 0;

	--game-house-btnBgColor: white;
	--game-house-btnColor: black;
	--game-house-btnBorderRadius: 25px;
	// END HOUSES AREA // 



	// FUEL AREA //  
	--game-fuel-borderColor: black;
	--game-fuel-bgcolor: black;
	// END FUEL AREA // 
}