:root {	
	// Global Variable
	--game-form-borderRadius: 5px;


	// PLAYER AREA // 
	// Used by the Discord Area
	--game-discord-borderColor: black; 
	--game-discord-bgColor: #575EDC;
	--game-discord-h1Color: white; 

	// Used by Notification inside Player Area 
	--game-notification-bgShadow: 0.00px 5.00px 17px 4px rgba(20,20,20,0.47);
	--game-notification-bgColor: White;
	// END PLAYER AREA // 

	// INTERACTION AREA // 
	
	// Used by groupAction inside interaction 
	--game-groupAction-borderColor: #575EDC;
	// Used by fuel inside interaction 
	--game-fuel-borderColor: black; 

	// END INTERACTION AREA // 
}