:root {
	// Global Variable
	--game-form-borderRadius: 5px;



	// PLAYER AREA // 
	// Used by the Discord Area
	--game-discord-borderColor: black;
	--game-discord-bgColor: #575EDC;
	--game-discord-h1Color: white;


	// Used by Notification inside Player Area 
	--game-notification-bgShadow: 0 5.00px 17px 4px rgba(20, 20, 20, 0.47);
	--game-notification-bgColor: White;
	// END PLAYER AREA // 



	// INTERACTION AREA // 
	// Used by groupAction inside interaction 
	--game-groupAction-bgColor: #2A2A2A;
	--game-groupAction-borderColor: #575EDC;
	--game-groupAction-boxShadow: 0 5.00px 17px 4px rgba(20, 20, 20, 0.47);
	--game-groupeAction-titleBgColor: white;
	--game-groupeAction-titleBorderRadius: 0 0 60px 60px;
	--game-groupeAction-h2Color: black;


	// Used by home inside groupAction 
	--game-house-titleBorderRadius: 0 60px 60px 0;

	--game-house-btnBgColor: white;
	--game-house-btnColor: black;
	--game-house-btnBorderRadius: 25px;


	// Used by fuel inside interaction 
	--game-fuel-borderColor: black;
	--game-fuel-bgcolor: black;
	// END INTERACTION AREA // 
}