.player {
	@extend %flexRow;
	justify-content: space-between;

	.discord {
		@extend %flexRow;
		flex: 2;
		margin-right: 40px;
		height: 80px;


		border-radius: var(--game-form-borderRadius);
		border: 2px solid var(--game-discord-borderColor);
		background-color: var(--game-discord-bgColor);

		h1 {
			font-size: 30px;
			flex: 1;
			text-align: center;
			align-self: center;
			color: var(--game-discord-h1Color);
		}

	}

	.notification {
		@extend %flexRow;
		flex-grow: 0;
		justify-content: space-around;
		min-width: 110px;
		max-width: 110px;
		
		background-color: var(--game-notification-bgColor);
		border-radius: var(--game-form-borderRadius);
		box-shadow: var(--game-notification-bgShadow, 0 1px 4px rgba(0, 0, 0, .6));

		button {
			align-self: center;
			min-height: 40px;
		}
	}



}
